{% extends 'base.admin.html.twig' %}

{% block title %}Ajouter un trick{% endblock %}

{% block content %}
    <section class="flex-column">

        <h1 class="mt-5 text-center">Ajouter un trick</h1>

        <div class="custom_container container border form-group d-flex align-items-center flex-column justify-content-around">

            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="text-center">
                <p>* Champs obligatoires</p>
                <button class="btn-lg btn-primary btn-primary-blue-reverse" type="submit">Ajouter le trick</button>
            </div>
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}