{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <section class="flex-column">

        <h1 class="mt-5 text-center">Connexion</h1>

        {% for message in app.flashes('success') %}
            <div class="custom_container mt-3 container alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="custom_container container border form-group d-flex align-items-center flex-column justify-content-around">

            <div class="mt-2 div-a d-flex flex-column align-items-center justify-content-between">
                <a class="font-white blue-hover" href="{{ path('register') }}">Pas encore de compte ?</a>
            </div>
        </div>
    </section>
{% endblock %}